__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/
apex/

# binaries
*.so

# tmp files
*.swp
examples_deepspeed/MoE/output

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Dataset folder
# Track scripts and README files
dataset/
!dataset/*.sh
!dataset/*.MD

venv/
.idea/